 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
 }
 .main{
    color: #000;;
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
    /* background-color: blue; */
 }
 .btn{
   /* margin-top: 50px;
    margin-left: 40%; */
    height: 45px;
    width: 100px;
    margin: 100px 0 0 40%;
    padding: 5px;
    background-color: #3a3737;
    color: #ffefef;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: #625757;
    color: #fff;
    cursor: pointer;
}